.cart__steps {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
        background-color: #555 !important;
        border: 1px solid #555 !important;
    }
    &--emty {
        text-align: center;
        margin-bottom: 30px;
        .bg-black {
            background: #333;
        }
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}

.shopping-cart {
    .ant-table-pagination.ant-pagination {
        display: none;
    }

    .img__item__cart {
        width: 200px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .shopping-card_bill {
        margin-left: 2rem;
        @include tablet {
            margin-left: 0;
        }
        &_box {
            border: 2px solid black;
            padding: 2rem;
            h3 {
                font-size: 14px;
                color: #222;
            }
            .subtotal,
            .total {
                display: flex;
                justify-content: space-between;
            }

            .subtotal {
                span {
                    font-size: 16px;
                    &:last-child {
                        font-size: 14px;
                        color: #888;
                    }
                }
            }

            .total {
                span {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .bg-black {
                background-color: #222;
                width: 100%;
                &:hover {
                    opacity: 0.9;
                }
            }
        }

        .payment {
            margin-top: 3rem;
        }
    }
}

.check-out {
    margin-bottom: 100px;

    .ant-col .ant-form-item-label {
        text-align: left !important;
    }

    .have-cuppon {
        color: #333;
        font-family: 500;
        font-size: 18px;
        margin-bottom: 20px;
        a {
            color: #777;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .shopping-card_bill {
        margin-left: 2rem;
        @include tablet {
            margin-left: 0;
        }
        &_box {
            border: 2px solid black;
            padding: 2rem;
            h3 {
                font-size: 14px;
                color: #222;
            }
            .subtotal,
            .total {
                display: flex;
                justify-content: space-between;
            }

            .subtotal {
                span {
                    font-size: 16px;
                    &:last-child {
                        font-size: 14px;
                        color: #888;
                    }
                }
            }

            .total {
                span {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .bg-black {
                background-color: #222;
                width: 100%;
                &:hover {
                    opacity: 0.9;
                }
            }
        }

        .warnning-checkout {
            background-color: #1565c0;
            p {
                padding: 2rem;
                color: #fff;
                font-size: 16px;
                &::before {
                    content: '*';
                    padding-right: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

.showCoupon {
    display: block !important;
}
.have-cuppon span {
    color: #fff;
}
.have-cuppon .coupon {
    display: none;
}
.have-cuppon_span {
    color: #888 !important;
    cursor: pointer;
}
.have-cuppon {
    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
        background-color: $main-color !important;
    }
}
