.slideshow__home {
    margin-bottom: 100px;

    .slideshow__home__img {
        width: 100vw;
        height: 575px;
        margin-top: 1rem;
        position: relative;
        cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png'), auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slideshow__home__inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-family: $font-family;

            @include mobile {
                width: 100%;
            }

            h1 {
                color: #333;
                font-size: 3.8rem;
                @include animate-css(slideInLeft);
                margin-bottom: 0;
            }

            p {
                color: #666;
                font-size: 1.6rem;
                @include animate-css(slideInRight);
            }

            .slideshow__home__inner--btn {
                @include animate-css(slideInLeft);
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 10px;
    }

    .slick-dots li button:before {
        content: '' !important;
        background-color: #000;
        width: 15px;
        height: 15px;
        border-radius: 50px;
    }
}
