/* font-weight */
$weight-800: 800;
$weight-700: 700;
$weight-600: 600;
$weight-500: 500;
$weight-400: 400;
$weight-300: 300;
$weight-200: 200;

.section-container-full {
  max-width: 100%;
}

.container-1440 {
  max-width: calc(1440px - 24px * 2);
  padding: 0 24px;
  margin: 0 auto;
}

.container-1200 {
  max-width: calc(1260px - 20px * 2);
  padding: 0 20px;
  margin: 0 auto;
}

.container-1110 {
  max-width: calc(1150px - 20px * 2);
  padding: 0 20px;
  margin: 0 auto;
}

/* display flex */

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* justify content center */
.d-flex-justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* align items center */
.d-flex-align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* margin */
.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

/* padding */
.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
